In [2]:
import sqlite3
sqlite_db = 'datasets/afl-stats.sqlite'
conn = sqlite3.connect(sqlite_db) 
c = conn.cursor()

In [22]:
res = c.execute('SELECT * FROM stats LIMIT 20;')
res.fetchall()
#Save (commit) the changes
#conn.commit()

[(1, 1, 176, 123, 299, 54, 16, 10, 0, 0, 17, 11, 0, 28, 0, None, None),
 (1, 2, 173, 86, 259, 61, 17, 14, 0, 0, 17, 7, 2, 26, 0, None, None),
 (2, 3, 195, 99, 294, 51, 27, 28, 0, 0, 12, 7, 3, 22, 0, None, None),
 (2, 4, 204, 122, 326, 66, 33, 16, 0, 0, 11, 12, 1, 24, 0, None, None),
 (3, 5, 181, 69, 250, 69, 36, 22, 0, 0, 17, 11, 1, 29, 0, None, None),
 (3, 6, 166, 120, 286, 59, 24, 14, 0, 0, 16, 6, 1, 23, 0, None, None),
 (4, 7, 174, 90, 264, 59, 17, 18, 0, 0, 15, 7, 0, 22, 0, None, None),
 (4, 8, 206, 123, 329, 77, 29, 25, 0, 0, 23, 14, 1, 38, 0, None, None),
 (5, 9, 164, 111, 275, 50, 36, 17, 0, 0, 13, 16, 5, 34, 0, None, None),
 (5, 10, 164, 81, 245, 69, 25, 18, 0, 0, 12, 14, 3, 29, 0, None, None),
 (6, 11, 226, 136, 362, 95, 28, 22, 0, 0, 22, 13, 5, 40, 0, None, None),
 (6, 12, 183, 123, 306, 64, 24, 19, 0, 0, 13, 5, 1, 19, 0, None, None),
 (7, 13, 221, 110, 331, 89, 23, 24, 0, 0, 26, 17, 1, 44, 0, None, None),
 (7, 14, 161, 73, 234, 54, 29, 18, 0, 0, 16, 11, 2, 29, 0, None, None),
 (8, 15, 189, 116, 305, 58, 21, 20, 0, 0, 21, 12, 4, 37, 0, None, None),
 (8, 7, 209, 127, 336, 62, 20, 6, 0, 0, 10, 12, 1, 23, 0, None, None),
 (9, 8, 157, 106, 263, 60, 38, 11, 0, 0, 8, 13, 3, 24, 0, None, None),
 (9, 13, 187, 141, 328, 76, 24, 24, 0, 0, 17, 14, 2, 33, 0, None, None),
 (10, 6, 185, 109, 294, 60, 35, 11, 0, 0, 17, 10, 0, 27, 0, None, None),
 (10, 3, 188, 105, 293, 53, 25, 24, 0, 0, 14, 13, 2, 29, 0, None, None)]

In [46]:
# self join on stats
res = c.execute('SELECT A.game_id,B.game_id,A.team_id,A.kicks,B.team_id,B.kicks FROM stats A INNER JOIN stats B  WHERE A.game_id=B.game_id AND A.team_id!=B.team_id  LIMIT 20;')
res.fetchall()

[(1, 1, 1, 176, 2, 173),
 (1, 1, 2, 173, 1, 176),
 (2, 2, 3, 195, 4, 204),
 (2, 2, 4, 204, 3, 195),
 (3, 3, 5, 181, 6, 166),
 (3, 3, 6, 166, 5, 181),
 (4, 4, 7, 174, 8, 206),
 (4, 4, 8, 206, 7, 174),
 (5, 5, 9, 164, 10, 164),
 (5, 5, 10, 164, 9, 164),
 (6, 6, 11, 226, 12, 183),
 (6, 6, 12, 183, 11, 226),
 (7, 7, 13, 221, 14, 161),
 (7, 7, 14, 161, 13, 221),
 (8, 8, 15, 189, 7, 209),
 (8, 8, 7, 209, 15, 189),
 (9, 9, 8, 157, 13, 187),
 (9, 9, 13, 187, 8, 157),
 (10, 10, 6, 185, 3, 188),
 (10, 10, 3, 188, 6, 185)]

In [25]:
# last 20 match stats for Swans (teamid=10)
res = c.execute('SELECT * FROM stats WHERE team_id=10 AND game_id > 136 LIMIT 20;')
res.fetchall()

[(144, 10, 195, 122, 317, 69, 32, 9, 0, 0, 9, 13, 3, 25, 0, None, None),
 (146, 10, 171, 115, 286, 57, 22, 14, 0, 0, 11, 13, 2, 26, 0, None, None),
 (153, 10, 189, 129, 318, 74, 28, 12, 0, 0, 15, 9, 0, 24, 0, None, None),
 (164, 10, 171, 115, 286, 58, 39, 17, 0, 0, 18, 13, 0, 31, 0, None, None),
 (180, 10, 171, 111, 282, 69, 20, 12, 0, 0, 12, 13, 0, 25, 0, None, None),
 (189, 10, 171, 105, 276, 61, 28, 12, 0, 0, 10, 14, 1, 25, 0, None, None),
 (196, 10, 189, 127, 316, 65, 24, 24, 0, 0, 14, 14, 1, 29, 0, None, None),
 (201, 10, 178, 109, 287, 74, 25, 13, 0, 0, 17, 13, 1, 31, 0, None, None),
 (213, 10, 191, 131, 322, 61, 41, 16, 0, 0, 20, 23, 1, 44, 0, None, None),
 (220, 10, 158, 91, 249, 42, 29, 22, 0, 0, 16, 8, 1, 25, 0, None, None),
 (226, 10, 193, 107, 300, 70, 29, 23, 0, 0, 11, 8, 2, 21, 0, None, None),
 (231, 10, 194, 126, 320, 87, 14, 10, 0, 0, 21, 5, 1, 27, 0, None, None),
 (244, 10, 161, 111, 272, 67, 30, 21, 0, 0, 14, 4, 2, 20, 0, None, None),
 (248, 10, 155, 105, 260, 64, 27, 15, 0, 0, 11, 10, 1, 22, 0, None, None),
 (261, 10, 181, 141, 322, 67, 14, 15, 0, 0, 9, 13, 4, 26, 0, None, None),
 (269, 10, 169, 136, 305, 77, 23, 29, 0, 0, 10, 8, 4, 22, 0, None, None),
 (275, 10, 191, 109, 300, 95, 26, 16, 0, 0, 21, 9, 3, 33, 0, None, None),
 (285, 10, 170, 116, 286, 77, 28, 12, 0, 0, 14, 8, 2, 24, 0, None, None),
 (288, 10, 199, 125, 324, 86, 37, 20, 0, 0, 16, 16, 1, 33, 0, None, None),
 (298, 10, 163, 119, 282, 70, 32, 24, 0, 0, 12, 7, 0, 19, 0, None, None)]

In [31]:
# average kick per game for last 20 match stats for Swans (teamid=10)
res = c.execute('SELECT AVG(kicks) FROM stats WHERE team_id=10 AND game_id > 136 LIMIT 20;')
res.fetchone()[0]

191.1532385466035

In [49]:
zac = c.execute("""SELECT * 
                    FROM games 
                    WHERE date>"2010-01-01" 
                    ORDER BY date LIMIT 10;""")
zac.fetchall()

[(5089, u'2010-03-25 00:00:00', u'1', 2, 12, 2, 72010),
 (5090, u'2010-03-26 00:00:00', u'1', 14, 3, 2, 57772),
 (5091, u'2010-03-27 00:00:00', u'1', 13, 8, 2, 45615),
 (5092, u'2010-03-27 00:00:00', u'1', 9, 4, 5, 29201),
 (5093, u'2010-03-27 00:00:00', u'1', 10, 7, 16, 31330),
 (5094, u'2010-03-28 00:00:00', u'1', 18, 15, 6, 21205),
 (5095, u'2010-03-28 00:00:00', u'1', 1, 5, 14, 49000),
 (5096, u'2010-03-28 00:00:00', u'1', 16, 11, 8, 30976),
 (5081, u'2010-04-01 00:00:00', u'2', 9, 12, 5, 36780),
 (5082, u'2010-04-03 00:00:00', u'2', 5, 13, 2, 50421)]

In [52]:
res = c.execute("""
                SELECT names.team_name,names.kicks
                FROM (stats s JOIN teams t ON s.team_id=t.team_id) names
                LIMIT 20
                ;""")
res.fetchall()

[(u'Bulldogs', 176),
 (u'Richmond', 173),
 (u'Essendon', 195),
 (u'Eagles', 204),
 (u'Collingwood', 181),
 (u'Fitzroy', 166),
 (u'Saints', 174),
 (u'Hawthorn', 206),
 (u'Brisbane', 164),
 (u'Sydney', 164),
 (u'Adelaide', 226),
 (u'Carlton', 183),
 (u'Melbourne', 221),
 (u'Geelong', 161),
 (u'North', 189),
 (u'Saints', 209),
 (u'Hawthorn', 157),
 (u'Melbourne', 187),
 (u'Fitzroy', 185),
 (u'Essendon', 188)]

In [56]:
res = c.execute("""
                SELECT g.game_id,names.team_name,names.kicks
                FROM games g JOIN (stats s JOIN teams t ON s.team_id=t.team_id) names
                ON g.game_id=names.game_id AND g.home_team_id=names.team_id
                LIMIT 20
                ;""")
res.fetchall()

[(1, u'Bulldogs', 176),
 (2, u'Essendon', 195),
 (3, u'Collingwood', 181),
 (4, u'Saints', 174),
 (5, u'Brisbane', 164),
 (6, u'Adelaide', 226),
 (7, u'Melbourne', 221),
 (8, u'North', 189),
 (9, u'Hawthorn', 157),
 (10, u'Fitzroy', 185),
 (11, u'Richmond', 218),
 (12, u'Eagles', 178),
 (13, u'Geelong', 212),
 (14, u'Collingwood', 197),
 (15, u'North', 206),
 (16, u'Richmond', 163),
 (17, u'Saints', 215),
 (18, u'Fitzroy', 202),
 (19, u'Collingwood', 170),
 (20, u'Carlton', 204)]

In [75]:
res = c.execute("""
                DROP VIEW home
                """)
res = c.execute("""
                CREATE VIEW home AS
                SELECT *
                FROM stats s 
                WHERE team_id=11;
                """)

res.fetchall()

[]

In [87]:
res = c.execute('SELECT * FROM stats LIMIT 10;')
res.fetchall()

[(1, 1, 176, 123, 299, 54, 16, 10, 0, 0, 17, 11, 0, 28, 0, None, None),
 (1, 2, 173, 86, 259, 61, 17, 14, 0, 0, 17, 7, 2, 26, 0, None, None),
 (2, 3, 195, 99, 294, 51, 27, 28, 0, 0, 12, 7, 3, 22, 0, None, None),
 (2, 4, 204, 122, 326, 66, 33, 16, 0, 0, 11, 12, 1, 24, 0, None, None),
 (3, 5, 181, 69, 250, 69, 36, 22, 0, 0, 17, 11, 1, 29, 0, None, None),
 (3, 6, 166, 120, 286, 59, 24, 14, 0, 0, 16, 6, 1, 23, 0, None, None),
 (4, 7, 174, 90, 264, 59, 17, 18, 0, 0, 15, 7, 0, 22, 0, None, None),
 (4, 8, 206, 123, 329, 77, 29, 25, 0, 0, 23, 14, 1, 38, 0, None, None),
 (5, 9, 164, 111, 275, 50, 36, 17, 0, 0, 13, 16, 5, 34, 0, None, None),
 (5, 10, 164, 81, 245, 69, 25, 18, 0, 0, 12, 14, 3, 29, 0, None, None)]

In [101]:
#flattened structure for AI consumption
res = c.execute("""
                SELECT g.game_id,s.kicks,s2.kicks,s.handballs,s2.handballs,s.disposals,s2.disposals,
                        s.marks,s2.marks,s.tackles,s2.tackles,s.hitouts,s2.hitouts,s.frees_for,s2.frees_for,
                        s.frees_against,s2.frees_against,s.scoring_shots,s2.scoring_shots
                FROM (games g JOIN stats s
                ON g.home_team_id=s.team_id
                AND g.game_id=s.game_id)
                JOIN stats s2 ON s2.team_id=g.away_team_id AND g.game_id=s2.game_id
                WHERE g.date>'2010-01-01'
                LIMIT 1
                ;""")
res.fetchall()

[(4961,
  206,
  185,
  142,
  180,
  348,
  365,
  112,
  71,
  75,
  51,
  50,
  35,
  25,
  31,
  30,
  24,
  17,
  22)]

In [111]:
#create winner view (1=home team win)
res = c.execute("""
                DROP VIEW winner
                """)
res = c.execute("""
                CREATE VIEW winner AS
                SELECT 
                (6*s.goals_kicked+s.behinds_kicked+s.behinds_rushed)>(6*s2.goals_kicked+s2.behinds_kicked+s2.behinds_rushed)
                FROM (games g JOIN stats s
                ON g.home_team_id=s.team_id
                AND g.game_id=s.game_id)
                JOIN stats s2 ON s2.team_id=g.away_team_id AND g.game_id=s2.game_id
                ;""")

res.fetchall()

[]

In [112]:
res = c.execute("""
                SELECT * 
                FROM winner
                LIMIT 10
                ;""")

res.fetchall()

[(1, 1),
 (2, 1),
 (3, 1),
 (4, 0),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 0),
 (10, 1)]

In [15]:
# create view for AI consumption
res = c.execute("""
                DROP VIEW ai
                """)
res = c.execute("""
                CREATE VIEW ai AS
                SELECT s.kicks,s2.kicks,s.handballs,s2.handballs,s.disposals,s2.disposals,
                        s.marks,s2.marks,s.tackles,s2.tackles,s.hitouts,s2.hitouts,s.frees_for,s2.frees_for,
                        s.frees_against,s2.frees_against
                FROM (games g JOIN stats s
                ON g.home_team_id=s.team_id
                AND g.game_id=s.game_id)
                JOIN stats s2 ON s2.team_id=g.away_team_id AND g.game_id=s2.game_id
                ;""")
res.fetchall()

[]

In [17]:
res = c.execute("""
                SELECT * 
                FROM ai 
                LIMIT 5
                ;""")

res.fetchall()

[(176, 173, 123, 86, 299, 259, 54, 61, 16, 17, 10, 14, 0, 0, 0, 0),
 (195, 204, 99, 122, 294, 326, 51, 66, 27, 33, 28, 16, 0, 0, 0, 0),
 (181, 166, 69, 120, 250, 286, 69, 59, 36, 24, 22, 14, 0, 0, 0, 0),
 (174, 206, 90, 123, 264, 329, 59, 77, 17, 29, 18, 25, 0, 0, 0, 0),
 (164, 164, 111, 81, 275, 245, 50, 69, 36, 25, 17, 18, 0, 0, 0, 0)]

In [18]:
conn.commit()

In [5]:
import numpy as np
from autokeras import MlpModule
from autokeras.nn.loss_function import classification_loss
from autokeras.nn.metric import Accuracy
from autokeras.preprocessor import OneHotEncoder, DataTransformerMlp

ModuleNotFoundError: No module named 'autokeras'

In [10]:
res = c.execute("""
                SELECT * 
                FROM winner
                ;""")
y = res.fetchall()
y = np.array(y)
y_train = y[:4078]
y_test = y[4078:]


res = c.execute("""
                SELECT * 
                FROM ai
                ;""")
x = res.fetchall()
x = np.array(x)
x_train = x[:4078]
x_test = x[4078:]

In [12]:
mlpModule = MlpModule(loss=classification_loss, metric=Accuracy, searcher_args={}, verbose=True)

# specify the fit args
data_transformer = DataTransformerMlp(x_train)
train_data = data_transformer.transform_train(x_train, y_train)
test_data = data_transformer.transform_test(x_test, y_test)
fit_args = {
    "n_output_node": 1,
    "input_shape": x_train.shape,
    "train_data": train_data,
    "test_data": test_data
}
mlpModule.fit(n_output_node=fit_args.get("n_output_node"),
              input_shape=fit_args.get("input_shape"),
              train_data=fit_args.get("train_data"),
              test_data=fit_args.get("test_data"))

NameError: name 'MlpModule' is not defined

In [19]:
import sqlite3
import numpy as np
sqlite_db = 'datasets/afl-stats.sqlite'
conn = sqlite3.connect(sqlite_db) 
c = conn.cursor()

res = c.execute("""SELECT * FROM winner;""")
y = res.fetchall()
y = np.array(y)
y_train = y[:4078]
y_test = y[4078:]

res = c.execute("""SELECT * FROM ai;""")
x = res.fetchall()
x = np.array(x)
x_train = x[:4078]
x_test = x[4078:]

In [21]:
x_test

array([[181, 180,  61, ...,  24,  24,  20],
       [211, 141, 162, ...,  16,  16,  27],
       [207, 184, 205, ...,  20,  20,  20],
       ...,
       [202, 175, 154, ...,  18,  18,  14],
       [196, 181, 173, ...,  21,  21,  17],
       [167, 245, 131, ...,  18,  18,  18]])